@charset "UTF-8";

.box{
    background-color:#f4f4f4;
    border-radius:5px;
    opacity:0.5; 
    border-radius:5px;
    position: absolute;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    padding: -10px;
    
}


.label{
    background: rgb(238,238,238); 
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); 
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );  
    text-align: center;
    font:bold 14px/45px sans-serif;
    border-bottom: 1px solid white;
    box-shadow: 1px 0px 3px black;
    text-shadow: 1px 0px 1px white;     
}
     

input{    
    font:normal 13px sans-serif;
    color:black;
    border-radius:3px;
    border: 1px solid #bfc4c6;
    outline:none;
    align-content: center;
    width:310px;
    height:35px;
    background-color:#f2f5f7;
    border-radius:3px;    
    padding:5px;
}


input:hover{
    border-color:#7dc6dd;
    background-color:#e0f1fc;

}


button{    
    background-color:red;
    padding:5px 15px;
    font:bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    background: rgb(237,246,249); 
    background: -moz-linear-gradient(top, rgba(237,246,249,1) 0%, rgba(205,229,238,1) 100%);
    background: -webkit-linear-gradient(top, rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); 
    background: linear-gradient(to bottom, rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 );
    color:#000000;
    box-shadow:0px 0px 10px #c9c9c9;    
}

button:hover{
    background: rgb(205,229,238); 
    background: -moz-linear-gradient(top, rgba(205,229,238,1) 0%, rgba(237,246,249,1) 100%);
    background: -webkit-linear-gradient(top, rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); 
    background: linear-gradient(to bottom, rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 );
    cursor:pointer;
}

a{
    color: white;
}

a:hover {
    cursor:pointer;
    color: white;
    text-decoration: none;
}

p{
    text-align: justify;
}

.header-site{
    background-image: url(../_img/mirrorsedge.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 255px;
    padding-bottom: 200px;
}

.content-site{
    padding-top: 400px;
    padding-bottom: 400px;
}


.footer-site{
    background-color: #333333;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.menuNav{    
    top: 470px;
    padding: 10px;
    padding-top: 6px;
}

.menuNav ul{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;
}

.menuNav li{
    position: relative;
    color: white;
	display: inline;
	background-color: #333333;
	padding: 6px 30px 15px 40px;
	margin: -3px;
    transition: background-color 0.5s;
}

.menuNav l1 a {
    text-decoration: none;
    margin: 0 auto;
}

.menuNav li:hover{
    background-color: black;
    cursor: pointer;
}

.menuNav li ul{
    position:absolute; 
    left:0;
    background-color:#fff; 
    display:none;
    margin-top: 16px;
}   

.menuNav li:hover ul, .menuNav li.over ul{
    display:block;
    cursor: pointer;
}

.menuNav li ul li{ 
    display:block; 
    width: 300px;
    left: -37px;
    padding: 15px 30px 15px 40px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.bg-modal-logout{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.modal-content{
    width: 300px;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.inputModal{
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close{
    position: absolute;
    margin-top: -20px;
    margin-right: -5px;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.linha{
    background-color:#333333;
}
