<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div id="interface">
            <div class="box" id="box3">
                <div class="label" id="label1">Cadastro de Gerente</div>                
                <form>
                    <div><div id="textoInput">Nome Completo:</div>
                    <input id="input1" type="text" placeholder="Ex: Fulano da Silva" name="nomeCompleto"/></div>
                    
                    <div><div id="textoInput">Data de Nascimento:</div>
                    <input id="input1" type="date" name="dataNascimento" placeholder="dd/mm/aaaa"/> </div>  
                
                    <div>
                    <div id="textoInput">
                    Email:</div>
                    <input id="input1" type="email" name="email" placeholder="Email"/>
                    </div>
                    
                    <div>
                    <div id="textoInput">Telefone:</div>
                    <input id="input1" type="text" name="telefone" placeholder="Ex: (99)9999-9999"/>
                    </div>
                    
                    <div><button id="Button3" type="submit">Cadastrar</button>
                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>