<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Cadastro de Gerente</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div class="interface">
            
            <div class="box box3">
                <div class="label label1">Cadastro de Gerente</div>                
                <form>
                    <div><div class="textoInput">Nome Completo:</div>
                    <input class="input1" type="text" placeholder="Ex: Fulano da Silva" name="nomeCompleto"/></div>
                    
                    <div><div class="textoInput">Data de Nascimento:</div>
                    <input class="input1" type="date" name="dataNascimento" placeholder="dd/mm/aaaa"/> </div>  
                
                    <div>
                    <div class="textoInput">
                    Email:</div>
                    <input class="input1" type="email" name="email" placeholder="Email"/>
                    </div>
                    
                    <div>
                    <div class="textoInput">
                    Senha:</div>
                    <input class="input1" type="text" name="senha" placeholder="Senha"/>
                    </div>
                    
                    <div>
                    <div class="textoInput">Telefone:</div>
                    <input class="input1" type="text" name="telefone" placeholder="Ex: (99)9999-9999"/>
                    </div>
                    
                    <div><button class="Button3" type="submit">Cadastrar</button>

                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>