<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div id="interface">
            <div class="box" id="box6">
                <div class="label" id="label1">Cadastro de Produtos</div>                
                <form>
                    <div><div id="textoInput">Nome do Produto:</div>
                    <input id="input1" type="text" name="nome"/></div>
                    
                    <div><div id="textoInput">Código do Produto:</div>
                    <input id="input1" type="text" name="cod_prod"/></div>
                    
                    <div><div id="textoInput">Valor de Custo do Produto:</div>
                    <input id="input1" type="text" name="valorCusto"/></div>
                    
                    <div><div id="textoInput">Tipo Comércio:</div>
                    <input id="input1" type="text" name="tipoComercio"/></div>
                    
                    <div><div id="textoInput">Gênero:</div>
                    <input id="input1" type="text" name="genero"/>
                    </div>
                    
                    <div id="block2">
                    <div><div id="textoInput">Situação do Produto:</div>
                    <input id="input1" type="text" name="situacao"/></div>
                    
                    
                    <div><div id="textoInput">Código de Barras:</div>
                    <input id="input1" type="text" name="codigoBarra"/></div>                   
                    
                    
                    <div><div id="textoInput">Valor de Venda do Produto:</div>
                    <input id="input1" type="text" name="valorVenda"/></div>
                                     
                    
                    <div><div id="textoInput">Data de Lançamento do Produto:</div>
                    <input id="input1" type="text" name="dataLancamento"/></div>
                                        
                    
                    <div><div id="textoInput">Plataforma:</div>
                    <input id="input1" type="text" name="plataforma"/></div>
                    </div>
                    
                    <div><button id="Button3" type="submit">Cadastrar</button>
                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>