<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div id="interface">
            <div class="box" id="box4">
                <div class="label" id="label1">Cadastro da Loja</div>                
                <form>
                    <div><div id="textoInput">Nome da Loja:</div>
                    <input id="input1" type="text"  name="nomeLoja"/></div>
                    
                    <div><div id="textoInput">Endereço da Loja:</div>
                    <input id="input1" type="text" name="endereco" /> </div>  
                
                    <div>
                    <div id="textoInput">
                    Logo da Loja:</div>
                    <input id="input1" type="text" name="logo" />
                    </div>
                    
                    <div>
                    <div id="textoInput">cnpj:</div>
                    <input id="input1" type="text" name="cnpj" />
                    </div>
                    
                    <div>
                    <div id="textoInput">Inscrição Estadual:</div>
                    <input id="input1" type="text" name="inscricaoEstadual" />
                    </div>
                    
                    <div>
                    <div id="textoInput">Taxa de Desconto:</div>
                    <input id="input1" type="text" name="taxaDescontoA"/>
                    </div>
                    
                    <div><button id="Button3" type="submit">Cadastrar</button>
                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>