<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <title>GameStore - Cadastro de Gerente</title>

    <link rel="stylesheet" href="_css/bootstrap.css">
    <link rel="stylesheet" href="_css/variations.css">
    <link rel="stylesheet" href="_css/forms.css">
    <script src="https://ajax.googlepis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="_js/bootstrap.js"></script>
    <script src="_js/interativos.js"></script>
</head>

<body>


    <div class="linha linhaUser">
        <div class="contentLine">Usuário Atual
            <a class="logOutbtn" onclick="modalShowOut()">Log out</a></div>
    </div>

    <section class="content-site5">

        <div class="label label1">
            <h2>Cadastro de Gerente</h2>
        </div>
        <div>
            <div class="box box7">

                <form action="../CONTROLLER/Transaction/CadastroGerenteTrans.php" method="post">
                    <div class="inputContainer">
                        <div class="textoInput">Nome Completo:</div>
                        <input class="input1 inputNome" type="text" placeholder="Ex: Fulano da Silva" name="nomeCompleto" required maxlength="100" />
                    </div>

                    <div class="inputContainer">
                        <div class="textoInput">Data de Nascimento:</div>
                        <input class="input1" type="date" name="dataNascimento" required placeholder="dd/mm/aaaa" />
                    </div>



                    <div class="inputContainer">
                        <div class="textoInput">Telefone:</div>
                        <input class="input1" type="text" name="telefone" required placeholder="Ex: (99)9999-9999" />
                    </div>




                    <div class="block4">

                        <div class="inputContainer">
                            <div class="textoInput">
                                Email:</div>
                            <input class="input1" type="email" name="email" required placeholder="Email" />
                        </div>

                        <div class="inputContainer">
                            <div class="textoInput">
                                Senha:</div>
                            <input class="input1" type="text" name="senha" required placeholder="Senha" />
                        </div>




                        <div>



                            <button class="Button3 btn btn-primary pull-right h2" type="submit">Cadastrar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </section>



    <section class="footer-site3">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Copyright &copy; 2019 - by KatStorm</p>
                </div>
            </div>
        </div>

    </section>

    <div class="bg-modal-logout">
        <div class="modal-content">
            <div id="close" class="close" onclick="modalCloseOut()">+</div>
            <form>
                <p class="text-center">Deseja Sair de Sua Seção?</p>
                <a href="../CONTROLLER/Outros/Logout.php" class="btn btn-danger">Sim</a>
                <a href="" class="btn btn-dark" onclick="modalCloseOut()">Cancelar</a>
            </form>
        </div>
    </div>
</body>










</html>