<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div>
            <div class="box box6">
                <div class="label label1">Cadastro de Produtos</div>                
               <form action="../CONTROLLER/Transaction/CadastrarProdutoTrans.php" method="post">
                    <div><div class="textoInput">Nome do Produto:</div>
                    <input class="input1" type="text" name="nome"/></div>
                    
                    <div><div class="textoInput">Código do Produto:</div>
                    <input class="input1" type="text" name="cod_prod"/></div>
                    
                    <div><div class="textoInput">Valor de Custo do Produto:</div>
                    <input class="input1" type="text" name="valorCusto"/></div>
                    
                    <div><div class="textoInput">Tipo Comércio:</div>
                    <input class="input1" type="text" name="tipoComercio"/></div>
                    
                    <div><div class="textoInput">Gênero:</div>
                    <input class="input1" type="text" name="genero"/>
                    </div>
                    
                    <div class="block2">
                    <div><div class="textoInput">Estado do Produto:</div>
                    <input class="input1" type="text" name="estado"/></div>
                    
                    
                    <div><div class="textoInput">Código de Barras:</div>
                    <input class="input1" type="text" name="codigoBarra"/></div>                   
                    
                    
                    <div><div class="textoInput">Valor de Venda do Produto:</div>
                    <input class="input1" type="text" name="valorVenda"/></div>
                                     
                    
                    <div><div class="textoInput">Data de Lançamento do Produto:</div>
                    <input class="input1" type="text" name="dataLancamento"/></div>
                                        
                    
                    <div><div class="textoInput">Plataforma:</div>
                    <input class="input1" type="text" name="plataforma"/></div>
                    </div>
                    
                    <div><button class="Button3" type="submit">Cadastrar</button>
                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>