<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div>
            <div class="box box4">
                <div class="label label1">Cadastro da Loja</div>                
                <form method="post" action="../CONTROLLER/Teste/configTras.php">
                    <div><div class="textoInput">Nome da Loja:</div>
                    <input class="input1" type="text"  name="inpNomeLoja"/></div>
                    
                    <div><div class="textoInput">Endereço da Loja:</div>
                    <input class="input1" type="text" name="inpEndereco" /> </div>
                
                    <div>
                    <div class="textoInput">
                    Logo da Loja:</div>
                    <input class="input1" type="text" name="logo" />
                    </div>
                    
                    <div>
                    <div class="textoInput">cnpj:</div>
                    <input class="input1" type="text" name="inpCnpj" />
                    </div>
                    
                    <div>
                    <div class="textoInput">Inscrição Estadual:</div>
                    <input class="input1" type="text" name="inpInscricaoEstadual" />
                    </div>
                    
                    <div>
                    <div class="textoInput">Taxa de Desconto:</div>
                    <input class="input1" type="text" name="inpTaxaDescontoA"/>
                    </div>
                    
                    <div><button class="Button3" type="submit">Cadastrar</button>
                    </div>
                </form>        
            </div>
        </div>
    </body>
</html>