<!DOCTYPE html>
<html lang="pt-br">

    <head>
    <meta charset="utf-8"/>
    <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>

    </head>
    <body>
        <div class="box">
            <div id="login-box-interno">
            <div id="login-box-label">Digite sua Senha</div>
            <form>
              <input type="text" placeholder="Email"/>   
             
                
               
              
                <div><button type="submit">Enviar</button></div>
                
                <p id="msg">Enviaremos uma mansagem para seu E-mail pedindo a confirmação através das perguntas de segurança.</p>
                
                   
            
        </form>
        </div>
    </body>
</html>
