<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <title>GameStore - Login</title>
    <link rel="stylesheet" href="_css/forms.css" />
    <link rel="stylesheet" href="_css/variations.css" />
    <link rel="icon" href="_img/65343.png" type="image/x-icon">
    <link rel="shortcut icon" href="_img/65343.png" type="image/x-icon">
</head>

<body class="bodyDif">
    <div>
        <div class="box boxExqueci">
            <form action="../CONTROLLER/Transaction/loginTrans.php" method="POST">
                <h3 class="loginMsg">Digite seu Email e enviaremos um Email de segurança. Recebendo a confimação enviaremos a nova senha para o mesmo.</h3> <input name="user_email" class="inputDif" type="email" required autofocus="" placeholder="Usuário ou Email" />
                <div><button class="loginButton" type="submit">Enviar</button> </div>
            </form>
        </div>
    </div>
</body>

</html>