<!DOCTYPE html>
<html lang="pt-br">

    <head>
    <meta charset="utf-8"/>
    <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>

    </head>
    <body>
        <div class="box" id="box2">
            <div class="label" id="label1">
            <div id="label3">Digite seu E-mail</div>
            <form>
              <input id="input3" type="text" placeholder="Email"/>   
             
                
               
              
                <div><button type="submit" id="Button2">Enviar</button></div>
                
                <p id="msg1">Enviaremos uma mansagem para seu E-mail pedindo a confirmação através das perguntas de segurança.</p>
                
                   
            
        </form>
        </div>
    </body>
</html>
