<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">

        <title>GameStore - Inicio</title>
      
        <link rel="stylesheet" href="_css/bootstrap.css">
        <link rel="stylesheet" href="_css/variations.css">
        <link rel="stylesheet" href="_css/forms.css">
    </head>
    <body>
    <script src="https://ajax.googlepis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="_js/bootstrap.js"></script>
    
        <section class="header-site">
            
    
        <div class="linha linhaUser"><a href="login.html">Log In</a></div>
        
        
        </section>
        
        <section class="content-site">
            <div class="linha linhaPosition">
            <nav class="menuNav">

            </nav>
            </div>
            
           
        </section>
        
        
        
        <section class="footer-site">
        
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Copyright &copy; 2019 - by CatStorm</p>
                    </div>
                </div>
            </div>
        
        </section>
    
    
    
    </body>












</html>