<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Efeito Parallax</title>
        
        <link rel="stylesheet" href="_css/bootstrap.css">
        <link rel="stylesheet" href="_css/variations.css">
        <link rel="stylesheet" href="_css/forms.css">
    </head>
    <body>
    <script src="https://ajax.googlepis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="_js/bootstrap.js"></script>
    
        <section class="header-site">
            
    
        
        
        
        </section>
        
        <section class="content-site">
            <nav class="menuNav">
                <ul>                    
                    <li><a>Teste Normal</a></li>
                    <li><a>Teste Brabo</a></li>
                    <li><a>Teste Nervoso</a></li>
                    <li><a>Teste Bala</a></li>
                    <li><a>Teste Fudido</a></li>
                    <li><a>Teste Bão</a></li>
                    <li><a>Teste</a></li>
                </ul>
                
            </nav>
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    
                        
                    
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        
                        <div class="thumbnail">
                            
                            <img src="_img/img-04.jpg">
                            
                        
                        </div>
                        
                    </div>
                    
                     <div class="col-sm-4">
                        
                        <div class="thumbnail">
                            
                            <img src="_img/img-05.jpg">
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-sm-4">
                        
                        <div class="thumbnail">
                            
                            <img src="_img/img-06.jpg">
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        
        </section>
        
        <section class="img-site">
        
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-12">
                        <h1 class="text-center">The Cake is a Lie</h1>
                        
                        
                    </div>
                    
                </div>
            </div>
        
        </section>
        
        <section class="footer-site">
        
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Copyright &copy; 2019 - by CatStorm</p>
                    </div>
                </div>
            </div>
        
        </section>
    
    
    
    </body>












</html>