<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body>
        <div class="box" id="box1" >
            <div class="label" id="label1">"Foto da logo do site"</div>
                <form>
                    <input id="input1" type="text" placeholder="Usuário ou Email"/>   

                    <input id="input2" type="text" placeholder="Senha"/>   

                    <div><button id="Button1" type="submit">Login</button></div>

                    <a  id="Link_EsqueciSenha" href="esqueciMinhaSenha.html">Esqueci minha senha</a>

                    
                </form>        
        </div>
        </body>
</html>