<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8"/>
        
        <title>Site// Colocar nome aqui"PHP"</title>


        <link rel="stylesheet" href="_css/forms.css"/>
        <link rel="stylesheet" href="_css/variations.css"/>
    </head>
    <body id="bodyDif">
        <div id="interface">        
            <div class="box" id="box1" >               
                <form action="../CONTROLLER/Transaction/loginTrans.php" method="post">
                    
                    <h1 id="loginMsg">Login</h1>
                    
                    <input name="inpUser" id="inputDifu" type="text" placeholder="Usuário ou Email"/>

                    <input name="inpPass" id="inputDifa" type="password" placeholder="Senha"/>

                    <div><button id="Button1" type="submit">Login</button></div>

                    <a  id="Link_EsqueciSenha" href="esqueciMinhaSenha.html">Esqueci minha senha</a>


                </form>      
            </div>
        </div>
    </body>
</html>