<!DOCTYPE html>
<html lang="pt-br">

    <head>
    <meta charset="utf-8"/>
    <title>Site</title>
        <link rel="stylesheet" href="_css/estilo.css"/>

    </head>
    <body>
        <div id="login-box">
            <div id="login-box-interno">
            <div id="login-box-label">"Foto da logo do site"</div>
            <form>
              <input type="text" placeholder="Usuário ou Email" id="inNameUser"/>   
             
              <input type="text" placeholder="Senha" id="inSenhaUser"/>   
               
              
                <div><button id="btnLogin" type="submit">Login</button></div>
                <a id="btnEsqueciSenha">Esqueci minha senha</a>
                <a id="btnCadastroUser">Cadastrar novo usuário</a> 
                
                   
            
        </form>
        </div>
    </body>
</html>
