<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Game Store</title>
      
        <link rel="stylesheet" href="_css/bootstrap.css">
        <link rel="stylesheet" href="_css/variations.css">
        <link rel="stylesheet" href="_css/forms.css">
    </head>
    <body>
    <script src="https://ajax.googlepis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="_js/bootstrap.js"></script>
    
        
            
    
         <div class="linha linhaUser2"><div class="contentLine">Funcionario Atual
        <a class="logOutbtn" onclick="modalShowOut()">Log out</a></div>
        </div>
        
        
        
        
        <section class="content-site3">
            <div class="label label2"><h2>Caixa</h2></div>
           
        </section>
        
        
        
        <section class="footer-site2">
        
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Copyright &copy; 2019 - by CatStorm</p>
                    </div>
                </div>
            </div>
        
        </section>
    
    
    
    </body>












</html>