<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Game Store</title>
        <script src="https://ajax.googlepis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="_js/bootstrap.js"></script>      
        <link rel="stylesheet" href="_css/bootstrap.css">
        <link rel="stylesheet" href="_css/variations.css">
        <link rel="stylesheet" href="_css/forms.css">
    </head>
    <body>   
        <div class="linha linhaUser2"><div class="contentLine">Funcionario Atual
        <a class="logOutbtn" onclick="modalShowOut()">Log out</a></div>
        </div>       
        <section class="content-site3">
            
            
            <div class="painel">
                <div class="painelSubT"><h3>R$ SUB TOTAL<div class="ValorSubT">00,00</div></h3></div>
                
                <div class="painelDescI"><h3>R$ DESCONTO NOS ITENS<div class="ValorDescI">-00,00</div></h3></div>
                
                <div class="painelDescG"><h3>R$ DESCONTO GERAL<div class="ValorDescG">-00,00</div></h3></div>
                
                 <div class="painelAcre"><h3>R$ ACRÉSCIMO<div class="ValorAcre">+00,00</div></h3></div>
            </div>
        </section>
        
        
        
        <section class="footer-site2">        
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Copyright &copy; 2019 - by CatStorm</p>
                    </div>
                </div>
            </div>        
        </section>   
    </body>
</html>